
<div class="container">
    <h2>Employee list</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Id</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of employees">
                <td>{{emp.firstname}}</td>
                <td>{{emp.lastname}}</td>
                <td>{{emp.emailId}}</td>
                <td>
                    <button (click)="updateEmployee(emp.id)" class="btn btn-info">Update</button>
                    <button (click)="deleteEmployee(emp.id)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
                    <button (click)="viewEmployee(emp.id)" class="btn btn-secondary" style="margin-left: 10px;">View</button>
                </td>
                
            </tr>
        </tbody>
    </table>
</div>